.main-heading {
            text-align: center;
        }

        .main-heading p {
            color: gray;
            font-weight: 400;

        }
         .about-button {
            color: White;
            background-color: blue;

        }

        .contact-button {
            background-color: white;
            color: gray;
            border: .5px solid gray;
        }
         .borderless-buttons {
            border: none;
            padding: 8px 16px;
            border-radius: 7px;



        }
